:host {
  display: block;
}

@media (max-width: 768px) {
  .e-form-group__input {
    width: 100%;
  }

  .table {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
  }
}
