.article-body {
  line-height: 1.8;
  max-width: 800px;
}

@media (max-width: 768px) {
  .article-body {
    max-width: 100%;
    line-height: 1.6;

    img,
    table {
      max-width: 100%;
      height: auto;
    }

    h1,
    h2 {
      font-size: 20px;
    }

    overflow-wrap: anywhere;
  }
}

